@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin page";
    // co the code nhu trong controller
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row vh-100">
    <div class="col-sm-12 col-md-12">
        <h1 class="deploy-4"> Welcome to Admin Panel</h1>
        <br />
        <h3>Rules</h3>

        <p><b>
                According to the regulations of FPT System Organization, the laws and regulations for an Administrator when using a system can be very important to ensure safety, security and regulatory compliance. Here are some specific laws you may have to comply with:
        </b></p>
        <p>        1.Information security: You need to comply with customer and company information security regulations when using the system. This may include not sharing important information with someone who does not have access.</p>
        <p>        2.Comply with regulations on intellectual property rights: When using the system, you need to comply with regulations on intellectual property rights and not violate copyright or illegally use other people's information.</p>
        <p>        3.Report a problem: If you encounter a technical problem or information security issue when using the system, you need to report it immediately according to the prescribed procedure.</p>
        <p>        4.Comply with regulations on reasonable use: You need to use the system according to the regulations and instructions provided, avoid using the system for improper purposes or violating internal regulations.</p>
        <p>        5.Comply with regulations on access rights: You need to comply with regulations on access rights to the system, do not use unauthorized information or access unauthorized parts.</p>
        <p>        6.Protection of personal data: When using the system, you need to ensure the safety and protection of users' personal data in accordance with the law and company policies.</p>
        <p>        7.Comply with data management regulations: You need to comply with data management regulations, including backing up, preserving and deleting data according to prescribed procedures.</p>
        <p>        8.Comply with regulations on professional ethics: During the process of using the system, you need to comply with regulations on professional ethics, avoid unethical behavior or violating professional regulations.</p>
        <p><b>These regulations may be more detailed in the system user manual or in the company's internal policies. To ensure full compliance, you should refer to specific guidance documents and contact your human resources department if you require additional information!!!</b></p>
    </div>
</div>

