@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    FPT International Telecom Company Limited owns and operates all its brand names and services and websites, including the brand “FPT Telecom International”, and the FTI website. This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the FTI website.
    We use your Personal Information only for providing and improving the Site and our services. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>

    <h3><b>Information Collection</b></h3>
    <br />
    <h4><b>Personally Identifiable Information</b></h4>
    <br />
    <p>In the course of using the Site, FPT International Telecom Company Limited, might ask User to provide us with certain personally identifiable information that can be used to contact (“Personal Information”). Personal Information may include, but is not limited to, your name, phone number, email address.</p>
    <br />
    <h4> <b> Non-Personally Identifiable Information</b></h4>
    <br />
    <p>When Users use the Site (whether such use is performed on the computer, laptop, telephone, Internet TV, on the Website or on a website of one of our partners or other third parties), FPT International Telecom Company Limited, collects information regarding User’s use on the websites, and information that your browser sends whenever you visit a site or online service, including, without limitation, your computer’s Internet Protocol (IP) address, browser type, the web page you were visiting before, and information for which you search.</p><br />
    <p> Like many websites, FPT International Telecom Company Limited, use “cookie” to collect information. A cookie is a small data file that FPT International Telecom Company Limited, transfer to your computer’s hard disk for record-keeping purposes. You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the website you visit. FPT International Telecom Company Limited, may present links in a format that enables FPT International Telecom Company Limited, to keep track of whether these links have been followed.</p><br />

<h3>
    <b>
        Information Use</b></h3>

    <p>We use, process, and store your Information as necessary to contact you and for our legitimate business interests, including:</p><br />
    <p>- To communicate with you about your use of our Site, Services, as well as respond to your requests for assistance.</p><br />
    <p>- To send you direct marketing emails and special offers about our products, services, promotions and other information that may be of interest to you. Any promotions advertised on the Site are controlled, modified and terminated by us.</p><br />
    <p>- Except as disclosed in this Privacy Policy including but not limited to the mandatory disclosure as required by laws, competent state agency, we do not rent, sell, trade or disclose your Personal Information to third parties without your consent.</p><br />

<h3>
    <b>
        Changes</b></h3>
        <br />
    <p>We keep the right to change, update, and supplement this policy at any time. The amended version shall come into effect at the time of an update.
</p>
